<div class="feature__card">
  <div class="feature__card__image__container">

    {{ with .Params }}
    
    {{ if isset . "cardImage" }}
      {{ partial "card-feature-image" .cardImage }}
      {{ else if isset . "featuredimage" }}
      {{ partial "card-feature-image" .featuredimage }}
      {{ else }}
      <div class="feature__card__default__image"></div>
    {{ end }}
    {{ end }}
  </div>
  <div class="feature__card__body">
    {{ with .Title }}
      <h3 class="card-title">{{ . }}</h3>
    {{ end }}
    {{ with .Summary }}
      <p>{{ . | markdownify }}</p>
    {{ end }}
    {{ $thisPage := . }}
    {{ with .RelPermalink }} {{ end }}
  </div>
  <p>
    <a href="." classname="feature__card__link">Voir plus </a>
  </p>
</div>
