<footer>
      <div class="remerciements">
          <p>
              Nous remercions nos partenaires:
              <ul>
                  <li><a href="/">these people</a></li>
                  <li><a href="/">those people</a></li>
                  <li><a href="/">more people</a></li>
              </ul>
          </p>
      </div>
    <div class="address">
      <p>Parc botanique de Haute Bretagne<br />35133 Le Châtellier<br />0299954832</p>
      <p><a href='{{ ref . "info/contact" }}'>contact us</a></p>
    </div>
</footer>
