{{ $currentPage := . }}
<ul class="nav d-flex flex-column flex-md-row mb-3 ps-2 align-items-center">
  {{ range.Site.Menus.main }}
    {{ $topLinkIsActiveP := or (eq $currentPage .Page) (in .Page.Pages $currentPage) }}
    <li class="nav-item">
      <a
        href="{{ .URL }}"
        class="nav-link {{ if $topLinkIsActiveP }}active{{ end }}"
        >{{ .Pre }} <span>{{ .Name }}</span>
      </a>
    </li>
  {{ end }}
  <li class="nav-item">
    {{ partial "translation-menu" . }}
  </li>
</ul>
