<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav">
    {{ $currentPage := . }}
    {{ range.Site.Menus.main }}
      <li class="nav-item {{ if in .Page.Pages $currentPage }}active{{ end }}">
        <a href="{{ .URL }}" class="nav-link"
          >{{ .Pre }} <span>{{ .Name }}</span>
        </a>
      </li>
      {{ $showSubmenuP := or (eq $currentPage .Page) (in .Page.Pages $currentPage) }}
      {{ if $showSubmenuP }}
        {{ with.Page.Pages }}
          <ul>
            {{ range . }}
              <li class="{{ if eq $currentPage . }}active{{ end }}">
                <a href="{{ .Permalink }}">
                  <span>{{ .Name }}</span>
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</div>
