<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{- partial "head.html" . -}}
    {{- partial "navbar.html" . -}}
    <div class="content container overflow-hidden d-flex flex-column">
      <h1 class="homepage__title"> {{ .Site.Title }} </h1>
      {{- block "hero" . }}{{ end }}
      <h1 class="text-center">{{- block "subtitle" . }}{{- end }}</h1>
      {{- partial "alert" . -}}
      <main>
        {{- block "main" . }}{{- end }}
      </main>
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
