{{ define "main" }}
    <main aria-role="main">
        {{ with .Params.resources.featuredImage }}
             <div id="hero">
                <img src="{{ .src }}" alt="{{ .alt }}"/>
            </div>  
        {{ end }}
        <div class="homepage-content">
            {{.Content}}
        </div>
        <div>
            <h2>sections</h2>
            <ul>
            {{ range .Site.Sections }}
            <li>{{ . }}: title: {{ .Title }}</li>
            {{ end }}
        </ul>
        </div>
    </main>
{{ end  }}

