@import "custom-bootstrap.sass";

// UNIVERSAL STYLES

li.active {
  font-style: oblique;
}

$serif-fonts: Georgia, "Times New Roman", Times, serif;

h1,
h2 {
  font-family: $serif-fonts;
}

.title {
  @extend .align-self-center;
  @extend .px-md-5;
  @extend .py-md-2;
  @extend .m-0;
  @extend .mt-md-3;
  background-color: $gray-200;
  @extend .text-center;
}

article {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-start;
  @extend .w-100;
  @extend .mt-3;
  @extend .mt-md-5;
}

figure > img {
  @extend .w-100;
}

@media only screen and (min-width: 768px) {
  article {
    max-width: 72ch;
  }
}

// UNIVERSAL COMPONENTS

.menu__ul {
  @extend .nav;
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-md-row;
  @extend .align-items-center;
}

header {
  @extend .navbar;
  @extend .navbar-expand-md;
  @extend .navbar-light;
  @extend .container;
}

.cardlist {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .flex-md-row;
  @extend .justify-content-md-center;
  @extend .flex-wrap;
  @extend .mb-5;
}

a.cardlist__card {
  @extend .card;
  @extend .my-1;
  @extend .w-100;
  @extend .p-1;
  @extend .mx-md-5;
  @extend .text-center;
}

a.cardlist__card__dark {
  @extend a.cardlist__card;
  text-decoration: none;
  color: $white;
  @extend .bg-dark;
}

a.cardlist__card__dark:hover {
  h3 {
    text-decoration: underline;
  }
}

.card-title {
  font-variant: all-small-caps;
}

.card-body p {
  font-size: larger;
}

.card-body__dark p {
  color: $white;
  font-size: larger;
}

.card-img-top {
  @extend .border;
  @extend .border-5;
  @extend .border-dark;
}

@media only screen and (min-width: 600px) {
  .cardlist__card {
    height: 160px;
    max-width: 20em;
  }
}

.navbar__brand__span {
  font-family: $serif-fonts;
  max-width: 10em;
}

// SINGLE COLUMN PAGE
div#hero {
  min-height: 500px;
  width: 100vw;
  max-width: 1800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero {
  @extend .align-self-center;
}

.singlepage__content__container {
  @extend .container-fluid;
  @extend .overflow-hidden;
  @extend .align-items-center;
  @extend .d-flex;
  @extend .flex-column;
  @extend .p-0;
}

// HOMEPAGE

.homepage__content__container {
  @extend .container-fluid;
  @extend .overflow-hidden;
  @extend .align-items-center;
  @extend .d-flex;
  @extend .flex-column;
  @extend .p-0;
}

.homepage__subtitle {
  @extend .text-center;
  @extend .pb-5;
  @extend .pt-4;
}

.homepage__card {
  @extend .card;
  @extend .border;
  @extend .border-dark;
  @extend .border-3;
  @extend .my-4;
  @extend .mx-2;
}

.homepage__cardlist {
  @extend .cardlist;
}

.homepage__main {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-between;
  @extend .w-100;
}

@media only screen and (min-width: 600px) {
  .homepage__card {
    flex-direction: row;
    width: 40rem;
    height: 14rem;
    /*     @extend .d-flex;
    @extend .flex-column; */
  }
  .homepage__card img {
    object-fit: cover;
    max-width: 15rem;
  }
}

#homepage__alert {
  @extend .alert;
  @extend .alert-info;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
}

@media only screen and (min-width: 770px) {
  #homepage__alert {
    position: absolute;
    top: 700px;
  }
}

#homepage__alert a {
  @extend .alert-link;
}

#homepage__alert p {
  @extend .m-0;
  @extend .mx-5;
}

// HOMEPAGE / carousel

.carousel img {
  height: 300px;
  max-height: 300px;
  width: auto;
  object-fit: cover;
}

.carousel {
  width: 100vw;
  max-width: 1800px;
}

@media only screen and (min-width: 770px) {
  .carousel img {
    height: 700px;
    max-height: 700px;
    object-fit: cover;
  }
}

// GARDEN PAGES / COMPONENTS

.garden_cardlist {
  @extend .align-items-start;
  @extend .d-flex;
  @extend .flex-xl-column;
  @extend .flex-wrap;
}

.garden__card {
  @extend .card;
  @extend .flex-row;
  width: 16rem;
  height: 10rem;
  @extend .border;
  @extend .border-dark;
  @extend .m-3;
  @extend .flex-grow-1;
  @extend .flex-xl-grow-0;
}

.garden__card img {
  object-fit: cover;
  max-width: 15rem;
}

.garden_container {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-xl-row;
}
