#logo {
  max-width: 10ch;
}
html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 72ch;
  display: flex;
  justify-content: space-between;
}

nav #rhs {
  display: flex;
}

li.active {
  font-style: oblique;
}
